* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background: #0e1624;
    margin: 0;
    padding: 30px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

.contador {
    background: #143618;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #1ca93b;
}

.card {
    background: #111b2f;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #24344f;
    margin-bottom: 25px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

.fila {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.campo {
    flex: 1;
}

label {
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #294269;
    background: #0b1322;
    margin-top: 5px;
    color: white;
}

input:focus, select:focus {
    outline: none;
    border-color: #1ca93b;
}

.botones {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-verde {
    background: #1ca93b;
}

.btn-azul {
    background: #0b5ed7;
}

.btn-rojo {
    background: #a31616;
    width: 100%;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #0e1626;
    padding: 12px;
    border-bottom: 1px solid #24344f;
}

td {
    padding: 10px;
    border-bottom: 1px solid #24344f;
}

.noresult {
    text-align: center;
    padding: 20px;
    color: #7f8ca3;
}

.consejo {
    font-size: 13px;
    color: #7f8ca3;
    margin-top: 10px;
}
